<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
      <div class="col .mr-auto">
        <h5>Vous pouvez nous contacter :</h5>
        <ul>
          <li>Soit sur la liste de diffusion List.patrimoinedistribdemat@bnpparibas-pf.com </li>
          <li>Soit avec ce formulaire</li>
        </ul>
        <form [formGroup] ="contactForm" (submit)="sendMessageBack()">
          <div class="form-group">
            <label>Votre email</label>
            <input type="email" class="form-control" placeholder="Entrer email" formControlName="email">
          </div>
          <div class="form-group">
            <label>Objet de la demande</label>
            <input type="text" class="form-control" placeholder="Objet demande" formControlName="objet">
          </div>
          <div class="form-group">
            <label>Votre demande</label>
            <!-- ici style permet d'aggrandir la hauteur d ela zone de saisie. Pas top, de mettre du css dan sle HTML. A améliorer en passant pas le css du component ou en trouvant la classe boostrap.css qui le fait. J'ai essayé row="6" mais ça ne prends pas.... -->
            <input type="text" class="form-control" style="height:150px" placeholder="Saisir le message de la demande" formControlName="message">
          </div>
          <button type="submit" class="btn btn-success">Envoyer</button>
        </form>
        <!-- {{ contactForm.value | json}} -->
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>

<div class="text-center">
  <img src="assets/credito.jpg" class="img-fluid" alt="Responsive image">
</div>

<!-- <form #f="ngForm">
    <mat-form-field>
    <input matInput type="text" name="nom" [(ngModel)]="contactForm.nom"> 
    </mat-form-field>
  </form> -->