<div class="container-fluid">
  <!-- <h1>Liste des applications</h1>
    <div *ngFor= 'let application of applications'> 
      
     <p > {{ application.name_aplication }} </p>
    
 
    </div>
    <h1>Liste des Scénarios par Applications</h1>
    <div *ngFor= 'let scenario of scenarios'>   
      <p > {{ scenario.aplication.name_aplication }} </p>
     </div> -->

  <h4>Rapport des applications</h4>

  <div class="row">
    <div class="col-md-2">
      <label>
        <h6></h6>
      </label>

    </div>

    <div class="col-md-2">
      <h6>Etat de l'application</h6>
    </div>
    <div class="col-md-2">
      <h6>Scenario</h6>
    </div>
    <div class="col-md-2">
      <h6>Statut du Scénario</h6>

    </div>
    <div class="col-md-2">
      <h6>Commentaires</h6>
    </div>
    <div class="col-md-2">

    </div>
  </div>

  <div class="row" *ngFor='let scenario of scenarios'>

    <div class="col-md-2">
      <div class="form-group">
        <mat-card-content>{{ scenario.application.name }}</mat-card-content>
      </div>
    </div>

    <!-- <div class="col-md-2">
      <div class="form-group">
        <select class="form-control">
          <option *ngFor="let state of states"> {{ state.label }} </option>
        </select>
      </div>
    </div> -->
    <div class="col-md-2">
      <div class="form-group">
        <mat-card-content>
          <p> Resultat de la méthode de calcul à créer</p>
        </mat-card-content>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <!-- <label class="form-group">Choisir le Scénario</label> -->
        <!-- <select class="form-control">
          <option>{{ scenario.wording_scenario}}</option>
        </select> -->
        <mat-card-content>{{ scenario.name }}</mat-card-content>
      </div>
    </div>
    <div class="col-md-2">

      <div class="form-group">
        <!-- <label class="form-group">Choisir le Statut</label> -->
        <select class="form-control">
          <option *ngFor="let statut of statuts ; let i = index">
            <div *ngIf="scenario.id === statut.scenario.id" (change)="updateRapportLabelScenario(i)" (change)="calculateLabelAppli()">
              {{ statut.label }}
            </div>
          </option>
        </select>
        <!-- <mat-form-field>
            <mat-select placeholder="Statut du Scénario">
              <mat-option *ngFor="let statut of statuts" [value]="statut.label">
                {{statut.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>           -->

      </div>
      <!-- <ng-container *ngFor="let menu of menuService.list">
          <div *ngIf="menu.id === menuService.selectedMenu">
            <h2>{{menu.title}}</h2>
            <p>{{ menu.content }}</p>
          </div>
        
        </ng-container> -->
    </div>
    <div class="col-md-2">
      <!-- <label class="form-group">Commentaires</label> -->
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-1">
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-primar">Enregistrer le rapport et l'envoyer par email</button>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>