
 <div *ngFor= 'let application of applications'> 
      
    {{ application.name }}
    
    <h1>Liste des applications</h1>
    </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <p>Ajouter un application au rapport</p>
      <button mat-icon-button class="button">
        <mat-icon style="font-size:25px; color: #82C46C" aria-label="Add" (click)="addReportRow()">playlist_add</mat-icon>
      </button>
    </div>
    <div class="col-md-9"></div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label class="form-group">Choisir l'application</label>
        <select class="form-control">
          <option>Net Crédit</option>
          <option>Net Démat</option>
          <option>ODEJ</option>
          <option>Crédit Bail Santé</option>
          <option>WebMarchand Auto</option>
          <option>Shell Outil d'aide à la vente</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="form-group">Choisir l'Etat</label>
        <select class="form-control">
          <option>Ouvert</option>
          <option>Fermé</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="form-group">Choisir le Scénario</label>
        <select class="form-control">
          <option>Page Accueil</option>
          <option>Offre Alternative</option>
          <option>Utilisation Carte</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="form-group">Choisir le Statut</label>
        <select class="form-control">
          <option>Ouverture à l'heure</option>
          <option>Non ouvert</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <label class="form-group">Commentaires</label>
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<!-- net credit accueil -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label class="form-group">Application</label>
        <select class="form-control">
          <option>Net Crédit</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="form-group">Choisir l'Etat</label>
        <select class="form-control">
          <option>Ouvert</option>
          <option>Service indisponible</option>
          <option>Accès limité</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="form-group">Scénario</label>
        <select class="form-control">
          <option>Page Accueil</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="form-group">Choisir le Statut</label>
        <select class="form-control">
          <option>Ouverture à l'heure</option>
          <option>Indisponible</option>
          <option>Ralentissement, surveillance en cours</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <label class="form-group">Commentaires</label>
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<!-- net credit oofre alternative -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Net Crédit</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouvert</option>
          <option>Service indisponible</option>
          <option>Accès limité</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Offre Alternative</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouverture à l'heure</option>
          <option>Indisponible</option>
          <option>Ralentissement, surveillance en cours</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <label ></label>
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<!-- net credit utilisation carte -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Net Crédit</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouvert</option>
          <option>Service indisponible</option>
          <option>Accès limité</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Utilisation Carte</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouverture à l'heure</option>
          <option>Indisponible</option>
          <option>Ralentissement, surveillance en cours</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <label ></label>
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<!-- net demat -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Net Démat</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouvert</option>
          <option>Service indisponible</option>
          <option>Accès limité</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Entrée de dossier</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouverture à l'heure</option>
          <option>Indisponible</option>
          <option>Ralentissement, surveillance en cours</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <label ></label>
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<!-- OFDEJ  Automobile-->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>ODEJ</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouvert</option>
          <option>Service indisponible</option>
          <option>Accès limité</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Automobile</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouverture à l'heure</option>
          <option>Indisponible</option>
          <option>Ralentissement, surveillance en cours</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <label ></label>
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<!-- 
<mat-card class="example-card">

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

</mat-card> -->

<!-- OFDEJ  Distribution-->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>ODEJ</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouvert</option>
          <option>Service indisponible</option>
          <option>Accès limité</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Distribution</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label ></label>
        <select class="form-control">
          <option>Ouverture à l'heure</option>
          <option>Indisponible</option>
          <option>Ralentissement, surveillance en cours</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <label ></label>
      <textarea class="form-control" rows="1"></textarea>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-1">
      <br>
      <br>
      <br>
      <br>
      <button type="submit" class="btn btn-primar">Enregistrer le rapport</button>
    </div>
    <div class="col-md-8">
    </div>
  </div>
</div>