<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h4>Liste des Applications</h4>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <ul>
        <li *ngFor="let application of applications">
            <mat-icon matListIcon>touch_app</mat-icon> <--- a mettre en commentaire si tu reactives ce moceau de code
<p>{{ application.name }}</p>
</li>
</ul>
</div>
</div>
</div> -->

<!-- class="container" permet de ne pas étendre le contenu sur toute la largeur de la page -->

<div class="container">
  <div class="table-responsive">
    <ng-container *ngIf="applications">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Liste des Applications</th>
            <th scope="col">Etat du jour</th>
        </thead>
        <tbody>
          <!-- class="table-borderless" : supprime les bordures ligne -->
          <tr *ngFor="let application of applications" class="table-borderless">
            <td>{{ application.name }}</td>
            <!-- <td class="material-icons">thumb_up</td>                                    https://material.io/tools/icons/?icon=rowing&style=baseline -->
            <td class="material-icons"> mood</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>


<div class="text-center">
  <!-- <img src="assets/CreditoBNPPF.jpg" class="img-fluid" alt="Responsive image"> -->
  <img [src]="photoAccueil" class="img-fluid" alt="Responsive image">
</div>


<div class="container">
  <div class="text-center">
    <h4>Planning équipe de réalisation du suivi hebdomadaire</h4>
    <table class="table table-sm table-dark">
      <thead>
        <tr>
          <th scope="col">Qui</th>
          <th scope="col">Quand</th>
        </tr>
      </thead>
      <tbody class="bg-success">
        <tr>
          <td>Florian</td>
          <td>Lundi</td>
        </tr>
        <tr>
          <td>Benjamin</td>
          <td>Mardi</td>
        </tr>
        <tr>
          <td>Cécile</td>
          <td>Mercredi</td>
        </tr>
        <tr>
          <td>Jessica</td>
          <td>jeudi</td>
        </tr>
        <tr>
          <td>Romain</td>
          <td>Vendredii</td>
        </tr>
        <tr>
          <td>Sophie</td>
          <td>Samedi</td>
        </tr>
        <tr>
          <td>Abder</td>
          <td>Dimanche</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- target="_blank" permet d'ouvrir le lien dans une nouvelle fenêtre -->
<!-- https://portail.witbe.net/wib-prod/synthesis/supervision.do?login=PRESCRIP&password=prescrip2pf -->
  <!-- https://portail.witbe.net/wib-prod/synthesis/supervision.do?login=PRESCRIP&password=prescrip2pf -->
<p>Pour consulter les Applications de l'ensemble de la production PF, la console supervision <a href="https://openclassrooms.com/fr/courses" 
    target="_blank">WitBe</a>. Pour accéder à la <a href="https://www.udemy.com/courses/development/" target="_blank">Buisness Place
    Distrib&Démat</a>.</p>